body {
	margin: 0;
	overflow: hidden;
}

canvas {
	width: 100% !important;
	height: 100% !important;
	vertical-align: top;
	//display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.footer {
	width: 100%;
	color: #959595;
	position: absolute;
	bottom: 10px;
	font-size: 11px;
	font-family: Arial, sans-serif;

	div:nth-of-type(1) {
		padding-left: 10px;
		float: left;
	}

	div:nth-of-type(2) {
		padding-right: 10px;
		float: right;
	}
}

.intro {
	width: 500px;
	height: 260px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -130px;
	text-align: center;
}

.intro__container {
	height: 100%;
	overflow: hidden;
}

.intro__container__group__bck {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(100);
}

.title {
	display: inline-block;
	margin: 0;
	line-height: 260px;
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: Georgia, serif;
	text-transform: uppercase;
	letter-spacing: 6px;
	position: relative;
	z-index: 1;

	span {
		display: inline-block;
		opacity: 0;
		transform: translateY(14px);
	}
}

.tile__bar {
	width: 0;
	height: 8px;
	background-color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.border {
	background-color: white;
	position: absolute;

	&--t {
		width: calc(100% + 20px);
		height: 1px;
		top: -10px;
		left: -10px;
	}

	&--r {
		width: 1px;
		height: calc(100% + 20px);
		top: -10px;
		right: -10px;
	}

	&--b {
		width: calc(100% + 20px);
		height: 1px;
		bottom: -10px;
		right: -10px;
	}

	&--l {
		width: 1px;
		height: calc(100% + 20px);
		bottom: -10px;
		left: -10px;
	}
}

.vignettage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: inset 0px 0px 180px 20px rgba(0, 0, 0, 1);
}
